<!DOCTYPE html>
<html>
<head>
	<title>	About Interview Kerja </title>
	<link rel="stylesheet" href="css.css">
</head>
<body>

	<img src="ayang.png" alt="ayang">

	<h1> Pertanyaan yang sering ditanyakan HRD </h1>
        <ol>
        	<li> Perkenalkan diri kamu!	</li>
        	<li> Apa yang kamu ketahui tentang perusahaan ini? </li>
        	<li> Apa kelebihan kamu? </li>
        	<li> Apa kekurangan kamu? </li>
        	<li> Ceritakan pengalaman kerja kamu! </li>
        	<li> Mengapa kamu keluar dari perusahaan sebelumnya? </li>
        	<li> Apa yang kamu tentang developer(misalnya)? </li>
        	<li> Apa yang ingin kamu lakukan dalam 5 tahun kedepan?</li>	
        </ol>
     
        <dl>
        	<dt>Perkenalkan diri kamu!</dt>
        	<dd>Selamat Siang Bapak/Ibu, Perkenalkan nama saya pudy, biasa dipanggil komeng, umur saya 19 tahun, saya lulusan SMKN 4 Kota Boogor</dd>
        	<br>	
        	<dt>Apa yang kamu ketahui tentang Shopee?</dt>
        	<dd>Shopee merupakan perusahaan/market place/E-commerce terbesar di indonesia</dd>
        	<br>	
        	<dt>Apa kelebihan kamu?</dt>
        	<dd><ol>	<li>Mudah Berkomunikasi dengan orang baru</li>
        	<li>Mudahmenyesuaika diri dengan lingkungan</li>
        	<li>suka dengan hal baru</li>
        		</ol></dd>
        		<br>		
        	<dt>Apa kekurangan kamu?</dt>
        	<dd>bahasa peomrograman yang saya kuasai hanya sedikit, kareana saya baru belajar bahasa pemrograman</dd>
        	<br>	
        	<dt>Ceritakan pengalaman kerja kamu!</dt>
        	<dd>Pengalaman kerja saya,Saya pernah Prakerin di Kantor Badan pertanahan Nasional Kota Bogor dan Pernah Bekerja sebagai Admin di Online shop Parfum</dd>
        	<br>	
        </dl>
</body>
</html>